.navbar {
  position:absolute;
  top: 40px;
  width:100%;
  z-index: 100;
  display: flex;
  justify-content: right;

  .nav-container {
    width: 830px;
    height: 96px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
    display: flex;
    justify-content: center;
  
    .nav-menu {
      list-style: none;
      width:542px;
      height: 96px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      
      .nav-item a{
        text-decoration: none;
        color: $third;
        text-transform: uppercase;
      }
    }
  }
}

