// fonts
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

$font-barlow: 'Barlow Condensed', sans-serif;
$font-bellefair: 'Bellefair', serif;


// colors
$primary : #0B0D17;
$secondary: #D0D6F9;
$third: #FFFFFF;


//breakpoint screen size
$breakpoints: (
  'xs': 1px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
);

//orientation
$orientations: (
    'portrait': portrait,
    'landscape': landscape
);

//font size
$titles: (
  'h1': 150px,
  'h2': 100px,
  'h3': 56px,
  'h4': 32px,
  'h5': 28px,
);

// subtitles
$subtitles:(
  'nav-text': 16px,
  'sub-1': 28px,
  'sub-2': 14px
);

$text: (
  'p': 18px, 
);