.crew-container {
  h5 {
    width: 50%;
    position: absolute;
    text-align: center;
    left: 0;
    top: 212px;
    span {
      mix-blend-mode: normal;
      opacity: 0.25;
      margin-right: 28px;
    }
  }
}

.crew-image {
  padding-top: 50px;
  width: 50%;
  display: flex;
  justify-content: center;

  img {
    max-height: 700px;
  }
}