
*{
  font-family: $font-bellefair;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// backgrounds

.bg {
  background: $primary;
  position: absolute;
  height: 100vh;
  width: 100vw;
  &.home-bg {
    background-image: url('../../assets/home/background-home-desktop.jpg');
    background-size: cover;
  }
}